
<div class="container">

	<p style="margin-top: 10px;">{{lang.contactBody}}:</p>
	<div class="btn-toolbar contact-social center-block" role="toolbar">
		<div class="btn-group fa fa-envelope mail" onclick="window.open('mailto:antousias@gmail.com', '_system');"></div>
		<div class="btn-group linkedin fa fa-linkedin-square" onclick="window.open('http://uk.linkedin.com/in/ntousias', '_system');"></div>
		<div class="btn-group fa fa-github-alt git" onclick="window.open('https://github.com/MaliciousMustard', '_system');"></div>
		<!--<div class="btn-group twitter fa fa-twitter"></div>-->
		<div class="btn-group facebook fa fa-facebook" onclick="window.open('https://www.facebook.com/ntousias.alexandros', '_system');"></div>
		<!--<div class="btn-group google-plus fa fa-google-plus"></div>-->
	</div>

</div>