<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto; margin-bottom: 10px"></div>

<div ng-repeat="day in days" class="list-group">
	<a class="list-group-item active">
        {{day}}
    </a>
	<a ng-repeat="expense in expenses[day]" href="#" class="list-group-item">
        {{$index + 1}}. <img class="glyphicon" src="{{iconPerCategory[expense.category]}}"></img> {{expense.name}} ({{expense.time}}) <span class="badge">{{expense.price}} &#8364;</span>
    </a>
	<a class="list-group-item active">
        Total for {{day}} <span class="badge">{{getTotal(expenses[day])}} &#8364;</span>
    </a>
</div>
