<!--
<h4>Having problem to keep track of where you spend your money?</h4>
<p>
	Fear not, ExpenseMe is here to solve your problems.
	<br/>
	Log your expenses the moment you pay and keep track of where you spend your money every month!
</p>
-->

<div class="panel-group" id="accordion">

	<div class="panel panel-default">
		<div class="panel-heading">
			<a ng-click="selectFaq('#collapse0')" data-parent="#accordion">
				<i class="pull-right glyphicon glyphicon-chevron-right"></i>
				<h4 class="panel-title">
					What is ExpenseMe?
				</h4>
			</a>
		</div>
		<div id="collapse0" class="panel-collapse collapse">
			<div class="panel-body">			
				ExpenseMe is an app that allows you to log your expenses the moment you make them.
				<br/>
				You initialize the app with all of your usual expenses, e.g. cigarettes, coffee, petrol for the car etc. These usual expenses will appear as round buttons from now on, when you open the app. Any time you buy something, all you have to do is press the circle that corresponds to the item you bought and ... that's it!
				<br/><br/>
				Of course there are times you will buy something which is not part of your usual items. In this case you just need to press the round button with the + sign and enter the details of the product. This item will not become part of your usual products but it will still be registered in your expenses.
				<br/><br/>
				In addition there are products which do not have a fixed price, for example, every time you put a different amount of petrol in your car. What you need to do is to leave the Price field blank when you are creating the product. This way, every time you want to register it the app will ask you for the price.
				<br/></br>
				Any time you want, you can see your expenses for any month you like and also send them as an Excel spreadsheet into your email to work on them in your computer.
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<a ng-click="selectFaq('#collapse1')" data-parent="#accordion">
				<i class="pull-right glyphicon glyphicon-chevron-right"></i>
				<h4 class="panel-title">
					{{lang.whereStart}}
				</h4>
			</a>
		</div>
		<div id="collapse1" class="panel-collapse collapse">
			<div class="panel-body">
				The first thing you need to do is add some items you're using often. You can do that through the <a href="#newItem">{{lang.addNewItem}}</a> screen.
				<br/>
				{{lang.whereStartBody2}}
			</div>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<a ng-click="selectFaq('#collapse2')" data-parent="#accordion">
				<i class="pull-right glyphicon glyphicon-chevron-right"></i>
				<h4 class="panel-title">
					{{lang.addingNewItems}}
				</h4>
			</a>
		</div>
		<div id="collapse2" class="panel-collapse collapse">
			<div class="panel-body">
				When adding a new item you can specify the following details:
				<dl class="dl-horizontal">
					<dt>Name</dt>
					<dd>This is a required field. It must describe the item, ideally not with a broad term. For example, if you buy a lot of Coca-Cola then the name of the item should be 'Coca-Cola' and not 'Soft Drink'.</dd>
					
					<dt>Description</dt>
					<dd>An optional description for the item.</dd>
					
					<dt>Price</dt>
					<dd>An optional price for the item. <br/>
					Some items have fixed price, for example your favorite tobacco. In these cases it's good to specify the price so that you don't have to enter it every time you click on the item.<br/>
					If there is no standard price for the item, then this field should be left blank. This way, when you click on the item, ExpenseMe will ask you for the price you paid that particular time.</dd>
					
					<dt>Category</dt>
					<dd>Optional field which allows some grouping of items. This determine the icon that will be used for the item's button and also for later processing of the expenses, for example if you want to see how much you are spending on drinks in general and not only on Coca-Cola.<br/>
					If no category is specified, then the first letter of the item's name will be used for the item's button.</dd>
				</dl>
				
			</div>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<a ng-click="selectFaq('#collapse3')" data-parent="#accordion">
				<i class="pull-right glyphicon glyphicon-chevron-right"></i>
				<h4 class="panel-title">
					{{lang.controlItemColor}}
				</h4>
			</a>
		</div>
		<div id="collapse3" class="panel-collapse collapse">
			<div class="panel-body">
				{{lang.noColorSelection}}
				<br/>
				{{lang.sameColorForItem}}
			</div>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<a ng-click="selectFaq('#collapse4')" data-parent="#accordion">
				<i class="pull-right glyphicon glyphicon-chevron-right"></i>
				<h4 class="panel-title">
					{{lang.howChangeItemDetails}}
				</h4>
			</a>
		</div>
		<div id="collapse4" class="panel-collapse collapse">
			<div class="panel-body">
				{{lang.editDetailsThrough}} <a href="#itemList">{{lang.editItems}}</a>. {{lang.editDetailsExceptName}}<br/>
				{{lang.editItemAffectFutureExpenses}}
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<a ng-click="selectFaq('#collapse5')" data-parent="#accordion">
				<i class="pull-right glyphicon glyphicon-chevron-right"></i>
				<h4 class="panel-title">
					{{lang.buyNotUsualProduct}}
				</h4>
			</a>
		</div>
		<div id="collapse5" class="panel-collapse collapse">
			<div class="panel-body">
				{{lang.buyNotUsualProductBody}}
			</div>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<a ng-click="selectFaq('#collapse6')" data-parent="#accordion">
				<i class="pull-right glyphicon glyphicon-chevron-right"></i>
				<h4 class="panel-title">
					{{lang.whereSeeExpenses}}
				</h4>
			</a>
		</div>
		<div id="collapse6" class="panel-collapse collapse">
			<div class="panel-body">
				{{lang.whereSeeExpensesBody}}
			</div>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<a ng-click="selectFaq('#collapse7')" data-parent="#accordion">
				<i class="pull-right glyphicon glyphicon-chevron-right"></i>
				<h4 class="panel-title">
					{{lang.sendExpenses}}
				</h4>
			</a>
		</div>
		<div id="collapse7" class="panel-collapse collapse">
			<div class="panel-body">
				{{lang.sendExpensesBody1}}
				<br/>
				{{lang.sendExpensesBody2}}
			</div>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<a ng-click="selectFaq('#collapse8')" data-parent="#accordion">
				<i class="pull-right glyphicon glyphicon-chevron-right"></i>
				<h4 class="panel-title">
					{{lang.madeExpenseMistake}}
				</h4>
			</a>
		</div>
		<div id="collapse8" class="panel-collapse collapse">
			<div class="panel-body">
				{{lang.madeExpenseMistakeBody}}
			</div>
		</div>
	</div>
	
</div>