<div ng-repeat="row in items" class="row">
	<div ng-repeat="item in row" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 center-block">
		<!-- we have a price for the item -->
		<button ng-if="item && item.price" ng-click="registerExpense(item)" type="button" class="btn {{item.color}} btn-circle center-block">
			<img ng-if="item.category" ng-src="{{iconPerCategory[item.category]}}"></img>
			<span ng-if="!item.category">{{item.name.charAt(0).toUpperCase()}}</span>
		</button>
		<!-- no price for item -->
		<button ng-if="item && !item.price" ng-click="select(item)" type="button" class="btn {{item.color}} btn-circle center-block" data-toggle="modal" data-target="#myModal">
			<img ng-if="item.category" ng-src="{{iconPerCategory[item.category]}}"></img>
			<span ng-if="!item.category">{{item.name.charAt(0).toUpperCase()}}</span>
		</button>
		<p ng-if="item" class="text-center">{{item.name}}</p>
		
		<button ng-if="!item" ng-click="newExpense()" type="button" class="btn btn-default btn-circle center-block"><i class="glyphicon glyphicon-plus"></i></button>
		<p ng-if="!item" class="text-center">{{lang.other}}</p>
	</div>
</div>

<!-- Popup for items that don't have a default price -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{{lang.priceFor + selectedItem.name}}</h4>
      </div>
      <div class="modal-body">
		<form name="itemForm" novalidate role="form" style="margin: 0 auto;">
			<input ng-model="selectedItem.price" type="text" name="price" placeholder="{{lang.priceRequiredPlaceholder}}" class="form-control" required float>
			<div ng-show="itemForm.price.$dirty && itemForm.price.$invalid" class="alert alert-danger">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
				<strong>{{lang.errorText}}</strong> 
				<span ng-show="itemForm.price.$error.required">{{lang.priceRequiredMsg}}</span>
				<span ng-show="itemForm.price.$error.float">{{lang.priceNoNumberMsg}}</span>
			</div>
			<div class="text-right" style="margin-top: 20px">
				<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
					{{lang.cancelBtnText}}
				</button>
				<button ng-disabled="itemForm.price.$invalid" ng-click="registerExpense(selectedItem)" class="btn btn-success" data-dismiss="modal">
					{{lang.registerBtnText}}
				</button>
			  </div>
		</form>
      </div>
    </div>
  </div>
</div>

<!-- Rating modal -->
<div class="modal fade" id="rate" tabindex="-1" role="dialog" aria-labelledby="rateLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="rateLabel">Thanks for your support!</h4>
      </div>
      <div class="modal-body">
		<form name="itemForm" novalidate role="form" style="margin: 0 auto;">
			{{lang.rateHeader}}
			<br/>
			{{lang.rateBody}}
			<div class="text-right" style="margin-top: 20px">
				<button class="btn btn-default" onClick="delayRateForAMonth()" data-dismiss="modal" aria-hidden="true">
					{{lang.btnLaterText}}
				</button>
				<button class="btn btn-danger" onClick="cancelRate()" data-dismiss="modal" aria-hidden="true">
					{{lang.btnNeverText}}
				</button>
				<button class="btn btn-success" data-dismiss="modal" aria-hidden="true">
					{{lang.btnRateText}}
				</button>
			  </div>
		</form>
      </div>
    </div>
  </div>
</div>

<script>
	if (shouldRate()) {
		$('#rate').modal('show');
	}
</script>

<div ng-show="items.length == 0 && beenHereBefore" class="alert alert-warning fade in">
	<strong>{{lang.noItemsFoundMsg}}<a href="#newItem">{{lang.addItemsMsg}}</a></strong>
</div>

<div ng-show="items.length == 0 && !beenHereBefore" class="alert alert-info fade in">
	<strong>
		<a href="#newItem">{{lang.welcomeMsg}} 
		<br />
		{{lang.howStartMsg}}</a>
	</strong>
</div>
