<div ng-repeat="row in items" class="row">
	<div ng-repeat="item in row" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 center-block">
		<button ng-if="item && item.category" ng-click="registerExpense(item)" type="button" class="btn {{item.color}} btn-circle center-block"><img ng-src="{{iconPerCategory[item.category]}}"></img></button>
		<button ng-if="item && !item.category" ng-click="registerExpense(item)" type="button" class="btn {{item.color}} btn-circle center-block">{{item.name.charAt(0).toUpperCase()}}</button>
		<p ng-if="item" class="text-center">{{item.name}}</p>
		
		<button ng-if="!item" ng-click="newExpense()" type="button" class="btn btn-default btn-circle center-block"><i class="glyphicon glyphicon-plus"></i></button>
		<p ng-if="!item" class="text-center">Other</p>
	</div>
</div>

<div ng-show="items.length == 0 && beenHereBefore" class="alert alert-warning fade in">
	<strong>No items found. Please add some items through <a href="#newItem">here.</a></strong>
</div>

<div ng-show="items.length == 0 && !beenHereBefore" class="alert alert-info fade in">
	<strong>
		<a href="#newItem">Welcome to ExpenseMe! We hope you will enjoy it! 
		<br />
		In order to start keeping track of your expenses please add some items.</a>
	</strong>
</div>
