<div ng-show="hasMaxItems() && status.newItem" class="alert alert-danger fade in">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
	<strong>{{lang.errorText}}</strong> {{lang.alreadyFull}}
</div>

<form name="itemForm" novalidate role="form" style="margin: 0 auto;">

	<!-- ITEM'S NAME -->
	<div class="required-field-block">
		<input ng-disabled="(status.newItem && hasMaxItems()) || status.updateItem" type="text" placeholder="{{lang.itemNamePlaceholder}}" class="form-control" name="name" ng-model="item.name" ng-minlength=3 ng-maxlength=20 required>
		<div class="required-icon">
			<div class="text">*</div>
		</div>
		<div ng-show="itemForm.name.$dirty && (itemForm.name.$invalid || itemForm.name.$error.duplicate)" class="alert alert-danger fade in">
			<a href="#" class="close" data-dismiss="alert">&times;</a>
			<strong>{{lang.errorText}}</strong> 
			<span ng-show="itemForm.name.$error.duplicate">{{lang.item}} {{item.name}} {{lang.alreadyExists}}</span>
			<span ng-show="itemForm.name.$error.required">{{lang.itemNameRequired}}</span>
			<span ng-show="itemForm.name.$error.minlength">{{lang.itemNameAtLeastThreeChars}}</span>
			<span ng-show="itemForm.name.$error.maxlength">{{lang.itemNameNoLongerThanTwentyChars}}</span>
		</div>
	</div>
	
	<!-- ITEM'S DESCRIPTION -->
	<input ng-disabled="hasMaxItems() && status.newItem" ng-model="item.description" type="text" placeholder="{{lang.descriptionPlaceholder}}" class="form-control">
	
	<!-- ITEM'S PRICE -->
	<div ng-if="status.newItem || status.updateItem">
		<input ng-disabled="hasMaxItems() && status.newItem" ng-model="item.price" type="text" name="price" placeholder="{{lang.pricePlaceholder}}" class="form-control" float>
		<div ng-show="itemForm.price.$error.float" class="alert alert-danger">
			<a href="#" class="close" data-dismiss="alert">&times;</a>
			<strong>{{lang.errorText}}</strong> {{lang.priceNoNumberMsg}}
		</div>
	</div>
	
	<div ng-if="status.newItemOnTheFly" class="required-field-block">
		<input ng-model="item.price" type="text" name="price" placeholder="{{lang.priceRequiredPlaceholder}}" class="form-control" required float>
		<div class="required-icon">
			<div class="text">*</div>
		</div>
		<div ng-show="itemForm.price.$dirty && itemForm.price.$invalid" class="alert alert-danger">
			<a href="#" class="close" data-dismiss="alert">&times;</a>
			<strong>{{lang.errorText}}</strong> 
			<span ng-show="itemForm.price.$error.required">{{lang.priceRequiredMsg}}</span>
			<span ng-show="itemForm.price.$error.float">{{lang.priceNoNumberMsg}}</span>
		</div>
	</div>
	
	<!-- ITEM'S CATEGORY -->
	<select ng-disabled="hasMaxItems() && status.newItem" ng-model="item.category" class="form-control">
		<option value="" selected>{{lang.selectCategory}}</option>
		<option ng-repeat="category in categories" ng-selected="item.category == category.value" value="{{category.value}}">{{category.name()}}</option>
		<option value="{{noCategory}}">{{noCategory}}</option>
	</select>
	
	<!-- BUTTONS -->
	<div ng-show="status.newItem">
		<button ng-click="back('/home')" class="btn btn-labeled btn-danger">
			<span class="btn-label">
				<i class="glyphicon glyphicon-remove"></i>
			</span>
			{{lang.cancelBtnText}}
		</button>
		<button ng-disabled="!canBeSaved() || hasMaxItems()" ng-click="save()" class="btn btn-labeled btn-primary">
			<span class="btn-label">
				<i class="glyphicon glyphicon-ok"></i>
			</span>
			{{lang.saveBtnText}}
		</button>
		<button ng-disabled="!canBeSaved() || hasMaxItems()" ng-click="saveAndClear()" class="btn btn-labeled btn-success">
			<span class="btn-label">
				<i class="glyphicon glyphicon-ok"></i>
			</span>
			{{lang.saveAndAddAnotherBtnText}}
		</button>
	</div>
	
	<div ng-show="status.updateItem">
		<button ng-click="back('/itemList')" class="btn btn-labeled btn-danger">
			<span class="btn-label">
				<i class="glyphicon glyphicon-arrow-left"></i>
			</span>
			{{lang.backBtnText}}
		</button>
		<button ng-disabled="!canBeSaved()" ng-click="deleteItem()" class="btn btn-labeled btn-danger">
			<span class="btn-label">
				<i class="glyphicon glyphicon-trash"></i>
			</span>
			{{lang.deleteBtnText}}
		</button>
		<button ng-disabled="!canBeSaved()" ng-click="updateItem()" class="btn btn-labeled btn-success">
			<span class="btn-label">
				<i class="glyphicon glyphicon-refresh"></i>
			</span>
			{{lang.updateBtnText}}
		</button>
	</div>
	
	<div ng-show="status.newItemOnTheFly">
		<button ng-click="back('/home')" class="btn btn-labeled btn-danger">
			<span class="btn-label">
				<i class="glyphicon glyphicon-remove"></i>
			</span>
			{{lang.cancelBtnText}}
		</button>
		<button ng-disabled="!canBeSaved()" ng-click="registerItem()" class="btn btn-labeled btn-success">
			<span class="btn-label">
				<i class="glyphicon glyphicon-ok"></i>
			</span>
			{{lang.registerBtnText}}
		</button>
	</div>
</form>

<script type="text/javascript">
	  $(function() {
		$('.required-icon').tooltip({
		  placement: 'left',
		  title: 'Required field'
		});
	  });
</script>
