<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "gr.ntousias.expenseMe"
        version     = "1.0.0" >

    <name>XpenseMe</name>

    <description>
        App that helps you keep track of your expenses in an easy and intuitive way!
    </description>

    <author href="http://ntousias.gr" email="antousias@gmail.com">
        Alexandros Ntousias
    </author>
	
	<preference name="permissions"                value="none"/>

	<preference name="orientation"                value="default" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
	
	<gap:plugin name="org.apache.cordova.globalization" />
	
	<icon src="icons/android/drawable-mdpi/ic_launcher.png"   gap:platform="android"    gap:qualifier="mdpi" />
	<icon src="icons/android/drawable-ldpi/ic_launcher.png"   gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="icons/android/drawable-hdpi/ic_launcher.png"   gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="icons/android/drawable-xhdpi/ic_launcher.png"  gap:platform="android"    gap:qualifier="xhdpi" />
	
</widget>